/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * LOGO
*/





/*------------------------------------*\
    $LOGO
\*------------------------------------*/

#header{
	width: 100%;
	position: fixed;
	height: 200px;
	background: url(/images/Header.png) repeat-x;
	z-index: 100;
	text-align: center;
}

#header_inn {
	width: 950px;
	position: relative;
	padding-top: 54px;
	margin: auto;
}

#top_logo {
	width: 772px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 90px;
	margin-left: 200px;
}

#top_logo a {
	width: 772px;
	height: 200px;
	display: block;
	background: url(/images/ncfc200x200.png) -0px -0px no-repeat;
}

.clr {
	clear: both;
}

