/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * NAV PRIMARY
 * NAV MOBILE
*/


#header-nav {
	margin-top: 120px;
	z-index: 101;
	position: fixed;
}

#header-nav a {
	color: $black;
}

/*------------------------------------*\
    $NAV PRIMARY
\*------------------------------------*/





/*------------------------------------*\
    $NAV MOBILE
\*------------------------------------*/
