/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * NAV PRIMARY
 * NAV MOBILE
*/


.nav {
	margin-top:	120px;
	z-index:		101;
	position:	fixed;
}

.nav a {
	color:	$black;
}

.nav a:hover {
	color:	$gray2;
}

/*------------------------------------*\
    $NAV PRIMARY
\*------------------------------------*/





/*------------------------------------*\
    $NAV MOBILE
\*------------------------------------*/
