<div class="beta">About</div>

<div class="grid" id="about"><!--
 --><div class="grid__item one-quarter" id="nav">
	   <ul class="nav nav--stacked">
	       <li><a href="#what">What is this?</a></li>
	       <li><a href="#cookies">Cookies</a></li>
	       <li><a href="#papworth">Papworth</a></li>
	   </ul>
	</div><!--
 --><div class="grid__item three-quarters" id="container">
		<div class="section" id="what">
			<span class="title">What is this?</span>
		</div>

		<div class="section" id="cookies">
			<span class="title">Cookies</span>
		</div>

		<div class="section" id="papworth">
			<span class="title">Papworth</span>
		</div>
	</div><!--
--></div>

<script>$(document).ready(aboutInit);</script>