<div class="beta">About</div>

<div class="grid" id="about"><!--
 --><div class="grid__item one-quarter" id="nav">
	   <ul class="nav nav--stacked">
	       <li><a class="scroll" href="#what">What is this?</a></li>
	       <li><a class="scroll" href="#cookies">Cookies</a></li>
	       <li><a class="scroll" href="#papworth">Papworth</a></li>
	       <li><a class="scroll" href="#contact">Contact</a></li>
	   </ul>
	</div><!--
 --><div class="grid__item three-quarters" id="container">
		<div class="section" id="what">
			<div class="gamma">What is this?</div>
			This site is a companion for the NCFC Prediction League run on <a href="http://www.wrathofthebarclay.co.uk/interactive/board" target="_blank">Wrath of the Barclay</a> by Yellalee.<br/>
			<br/>
			If none of that makes sense, you're probably on the wrong website.</br>
			<br/>
			By <a href="/register">registering</a> with this site, and using it to enter your predictions, you can make Yellalee's life much easier three times a year.<br/>
			<br/>
			This site isn't affiliated with WotB in any way, so please don't try to log-in here with your WotB username and password.  You need to <a href="/register">register</a> here separately.
		</div>

		<div class="section section-alt" id="cookies">
			<div class="gamma">Cookies</div>
			This site uses cookies for authentication.  If you don't enable cookies you don't get to play.<br/>
			<br/>
			Hard cheese.<br/>
			<br/>
			If you care about any of that, you probably shouldn't.  Contact links are down there <a href="#contact" class="scroll">vvvv</a> if you want to cry-arse about it to me.
		</div>

		<div class="section" id="papworth">
			<div class="gamma">Papworth</div>
			<a href="http://www.papworthhospitalcharity.org.uk/get-involved/donate" id="phc" target=_blank">Papworth Hospital Charity</a>
			Yellalee's prediction league and this site are run purely for enjoyment and entertainment - no advertising and no pay-to-play.<br/>
			<br/>
			However, if you did feel moved to acknowledge Yellalee's time and effort, then a small no-strings donation to the <a href="http://www.papworthhospitalcharity.org.uk/get-involved/donate" target=_blank">Papworth Hospital Charity</a> would be really appreciated.  
		</div>

		<div class="section" id="contact">
			<div class="gamma">Contact</div>
			If yew watter mardle, yew kin send an eMardle hare carntyer: <a href="mailto:predictions@matt.cx">predictions@matt.cx</a>
		</div>


	</div><!--
--></div>

<script>$(document).ready(aboutInit);</script>