<h1>Admin</h1>

<ul class="last">
	<li>
		<a href="/admin/fixtures">Set up fixtures</a>
	</li>
	<li>
		<a href="/admin/reports/predictions">Get player predictions</a>
	</li>
	<li>
		<a href="/admin/reports/registration">Player registration</a>
	</li>
	<li>
		<a href="/admin/passwordReset">Password Reset</a>
	</li>
</ul>
