<div class="beta">Change Password</div>

<form id="changePw" action="/changeMyPassword" method="post" class="last">
    <div id="reg-container">
        <div class="notice">
        	<br/>
            Enter your current password, and a new password twice.<br/>
            <br/>
            Maybe have a read of the <a href="/about#passwords">Passwords</a> section of the About page first. <br/>
            <br/>
        </div>
        <div id="fields" class="grid"><!--
        --><div class="grid__item one-whole">
                <div class="grid"><!--
                --><div class="grid__item one-half">
                        <fieldset>
                            <legend>Current Password</legend>
                            <div>
                                <input name="current" id="change-password-current" type="password" class="text-input" placeholder="current"/>
                            </div>
                            <div class="error-area"></div>
                        </fieldset>
                    </div><!--
                --><div class="grid__item one-half">
                        <fieldset>
                            <legend>New Password (twice)</legend>
                            <div>
                                <input name="password" id="change-password-new" type="password" class="text-input register-password" placeholder="new"/>
                            </div>
                            <div>
                                <input name="repeat" id="change-password-again" type="password" class="text-input register-password" placeholder="again"/>
                            </div>
                            <div class="error-area"></div>
                        </fieldset>
                    </div><!--
            --></div>
            </div><!--
    --></div>
        <div id="server-error">
            {{error}}
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </div>
</form>

