<div class="container">

	{{#if auth.loggedIn}}
		Hello {{auth.userName}}!
		<a href="/signOut">Sign Out</a>
	{{else}}
	    <a href="/register">Register</a>
		<form action="/signIn" method="post">
			<label>Username</label>
			<input name="userName" id="userName" type="text" class="text-input" placeholder="username"/>
			<label>Password</label>
			<input name="password" id="password" type="password" class="text-input" placeholder="password"/>
			{{loginError}}
			<input type="submit" value="Go" />
		</form>
	{{/if}}

    <h1>Your Node Express App</h1>

</div>