<div class="beta">Password Reset</div>

<div class="grid last eleven-twelfths centre">
	<div class="grid__item one-whole">
		<table class="table--bordered table--striped">
			<tr>
				<th>
					Player
				</th>
				<th>
					Reset
				</th>
			</tr>
		{{#each users}}
			{{#with value}}
			<tr>
				<td>
					{{username}}
				</td>
				<td>
					<a href="/admin/resetUserPassword?id={{_id}}" title="Reset password for {{username}}">Reset</a>
				</td>
			</tr>
			{{/with}}
		{{/each}}
		</table>
	</div>
</div>