<div class="beta">Password Reset</div>

<div class="grid last eleven-twelfths centre">
	<div class="grid__item one-whole">
		{{#with user}}
		<div>
			Password reset for <strong>{{username}}</strong><br/>
			<br/>
			New password is: <strong>{{newPassword}}</strong><br/>
			<br/>
			This password is not saved anywhere in the system, so make sure you copy it now before continuing - you won't be able to get back to it.
		</div>
		{{/with}}
	</div>
</div>