<h1>Player Predictions</h1>

{{#compare season.current '==' false}}
No active season to report on.
{{else}}

{{#each miniseasons}}
<div class="season-block">
	<div>
		Mini-Season {{index}}
	</div>
	<div>
		Users with incomplete predictions
	</div>
	<div>
		{{#each incompletePredictions}}
		<div>{{this}}</div>
		{{/each}}
	</div>
</div>
{{/each}}

{{/compare}}
