<div class="beta">Register</div>

<div class="gamma cookie-warning hidden" id="cookie-notice">This site requires cookies to be enabled in your browser.</div>


<form id="registration" action="/doSignup" method="post">
    <div id="reg-container">
        <div class="notice">
            Register using your Wrath Of The Barclay username, so that Lee can match up the predictions you make here with your WotB account.<br/>
            <br/>
            Once registered you'll get a unique authorization code. You will need to post that code on WotB for the attention of Yellalee, using your WotB username. Until you do that your predictions won't be accepted.<br/>
            <br/>
            Please don't try to use someone else's Wrath username for a "joke". You won't be able to post the authorization code on WotB, the real owner of that username will notice, and then it'll be hassle to delete the account, etc.  Don't be that guy.
        </div>
        <div id="fields" class="grid"><!--
        --><div class="grid__item one-whole">
                <div class="grid"><!--
                --><div class="grid__item one-half">
                        <fieldset>
                            <legend>Username</legend>
                            <div>
                                <input name="username" id="register-username" type="text" class="text-input" placeholder="username" value="{{username}}"/>
                            </div>
                            <div class="error-area"></div>
                        </fieldset>
                    </div><!--
                --><div class="grid__item one-half">
                        <fieldset>
                            <legend>Password (twice)</legend>
                            <div>
                                <input name="password" id="register-password" type="password" class="text-input register-password" placeholder="password"/>
                            </div>
                            <div>
                                <input name="repeat" id="register-repeat" type="password" class="text-input register-password" placeholder="repeat password"/>
                            </div>
                            <div class="error-area"></div>
                        </fieldset>
                    </div><!--
            --></div>
            </div><!--
    --></div>
        <div id="server-error">
            {{error}}
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </div>
</form>

<script>$(document).ready(registerInit);</script>
